:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #0f172a; /* El azul oscuro de fondo */
  color: white;
}

body {
  margin: 0;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
}

#root {
  width: 100%; /* Ahora ocupamos todo el ancho disponible */
  margin: 0 auto;
}